<h1>Angular</h1>

<p>Abaixo o exercício: Assignment 1: List of Authors</p>
<ngfor-directive-authors></ngfor-directive-authors>

<p>Abaixo o exercício: Assignment 2: Favorite Component
  componente botão favorito glyphicon-star</p>
<favorite-button></favorite-button>

<p>Abaixo o exercício: Assignment 3: Title Casing</p>
<input type="text" [(ngModel)]="title">
<br>
{{ title | titleCase }}

<p>Abaixo o exercício: Assignment 4: Like Component</p>
<like-component
  [isActive]="tweet.isLiked"
  [likesCount]="tweet.likesCount">
</like-component>

<p>Abaixo o exercício: Assignment 5: Exercise: ZippyComponent</p>
<p>Continuar em 1:48</p>
<zippy title="Shipping Details">
  Shipping Details Content
</zippy>
